.test {
  border: 1px solid red;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-n-10 {
  z-index: -10;
}

.z-n-20 {
  z-index: -20;
}

.z-n-30 {
  z-index: -30;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, .logo {
  font-family: "Shrikhand", sans-serif;
}

.shrikhand {
  font-family: "Shrikhand", sans-serif;
  font-size: 22px;
}

.rob-weight-300 {
  font-weight: 300;
}

.rob-weight-400 {
  font-weight: 400;
}

.rob-weight-500 {
  font-weight: 500;
}

.rob-weight-700 {
  font-weight: 700;
}

.rob-weight-900 {
  font-weight: 900;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.text-center-lg {
  text-align: center;
}

@media (min-width: 768px) {
  .text-center-md {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .text-center-lg {
    text-align: left;
  }
}
.loader {
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  animation: disapear 2s linear forwards;
}

@keyframes disapear {
  0% {
    opacity: 1;
    height: 100vh;
  }
  90% {
    opacity: 1;
  }
  99.9999% {
    height: 100vh;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}
.loader-box {
  background-color: #fff;
  height: 100px;
  display: flex;
  align-items: center;
  width: 50%;
  overflow: hidden;
}

.pink-loader {
  background-color: #FF79DA;
  box-shadow: rgba(234, 0, 255, 0.425) 0px 0px 20px;
  height: 25px;
  width: 20%;
  animation: laser 2s linear 0s 1 forwards;
}

@keyframes laser {
  from {
    margin-left: -20%;
  }
  to {
    margin-left: 100%;
  }
}
.btn-rose {
  background: linear-gradient(355deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 100px;
  padding: 1.5em;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  border: none;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
}
.btn-rose:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 10rem;
  z-index: -2;
}
.btn-rose:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(355deg, #FF79DA 0%, #9356DC 100%);
  transition: all 0.3s;
  border-radius: 100px;
  z-index: -1;
}
.btn-rose:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px;
  transform: scale(1.2);
}
.btn-rose:hover:before {
  width: 100%;
}

.div-heart {
  position: relative;
  min-width: 28px;
  background-color: transparent;
  border: 0;
}
.div-heart > .heart-empty {
  position: absolute;
  color: #9356DC;
  font-size: 28px;
  opacity: 1;
  transition: all 400ms;
}
.div-heart > .heart-solid {
  position: absolute;
  font-size: 28px;
  background: linear-gradient(200deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 400ms;
}
.div-heart:focus > .heart-empty {
  opacity: 0;
  transition: all 400ms;
}
.div-heart:focus > .heart-solid {
  opacity: 1;
  transition: all 400ms;
  animation: heart 500ms ease-in forwards;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.fonc {
  background-color: rgb(246, 246, 246);
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: all 300ms;
  position: relative;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .fonc {
    width: fit-content;
  }
}
.fonc i {
  color: rgb(126, 126, 126);
}
.fonc:hover {
  background-color: #f2eafb;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.fonc:hover i {
  color: #9356DC;
}
.fonc > span {
  position: absolute;
  left: -16px;
  background-color: #9356DC;
  color: white;
  border-radius: 1000px;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonc > div {
  font-size: 16px;
}
@media (min-width: 768px) {
  .fonc > div {
    font-size: 18px;
  }
}

header {
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: black 0px 0px 10px;
  z-index: 50 !important;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 40px;
  padding: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.gap {
  gap: 16px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-sm {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.item-center {
  display: flex;
  align-items: center;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.w-100 {
  width: 100%;
}

.flex-auto {
  flex: auto;
}

.flex-1 {
  flex: 1;
}

.flex-md-1 {
  flex: 1 400px;
}

.flex-2 {
  flex: 2;
}

.flex-md-2 {
  flex: 2 800px;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.col {
  flex: 1 1 350px;
}

.col-md {
  flex: 1 600px;
}

.col-lg {
  width: 100%;
}

@media (min-width: 768px) {
  .column-sm {
    display: flex;
    flex-direction: row;
  }

  .col {
    flex: 1 2 350px;
  }

  .col-md {
    flex: 1 600px;
  }

  .flex-md-1 {
    flex: 1 400px;
  }

  .flex-md-2 {
    flex: 2 800px;
  }
}
@media (min-width: 992px) {
  .col {
    flex: 1 2 420px;
  }

  .flex-md-1 {
    flex: 1 400px;
  }

  .flex-md-2 {
    flex: 2 800px;
  }
}
@media (min-width: 1400px) {
  .col {
    flex: 1 1 300px;
  }

  .col-md {
    flex: 1 600px;
  }
}
.p-1 {
  padding: 1em;
}

.px-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.pr-1 {
  padding-right: 1em;
}

.pb-1 {
  padding-bottom: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.p-2 {
  padding: 1.5em;
}

.px-2 {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.py-2 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.pt-2 {
  padding-top: 1.5em;
}

.pr-2 {
  padding-right: 1.5em;
}

.pb-2 {
  padding-bottom: 1.5em;
}

.pl-2 {
  padding-left: 1.5em;
}

.p-3 {
  padding: 2em;
}

.px-3 {
  padding-left: 2em;
  padding-right: 2em;
}

.py-3 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.pt-3 {
  padding-top: 2em;
}

.pr-3 {
  padding-right: 2em;
}

.pb-3 {
  padding-bottom: 2em;
}

.pl-3 {
  padding-left: 2em;
}

.p-4 {
  padding: 2.5em;
}

.px-4 {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.py-4 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.pt-4 {
  padding-top: 2.5em;
}

.pr-4 {
  padding-right: 2.5em;
}

.pb-4 {
  padding-bottom: 2.5em;
}

.pl-4 {
  padding-left: 2.5em;
}

.p-5 {
  padding: 3em;
}

.px-5 {
  padding-left: 3em;
  padding-right: 3em;
}

.py-5 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.pt-5 {
  padding-top: 3em;
}

.pr-5 {
  padding-right: 3em;
}

.pb-5 {
  padding-bottom: 3em;
}

.pl-5 {
  padding-left: 3em;
}

.m-1 {
  margin: 1em;
}

.mx-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.m-2 {
  margin: 1.5em;
}

.mx-2 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.my-2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.mt-2 {
  margin-top: 1.5em;
}

.mr-2 {
  margin-right: 1.5em;
}

.mb-2 {
  margin-bottom: 1.5em;
}

.ml-2 {
  margin-left: 1.5em;
}

.m-3 {
  margin: 2em;
}

.mx-3 {
  margin-left: 2em;
  margin-right: 2em;
}

.my-3 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.mt-3 {
  margin-top: 2em;
}

.mr-3 {
  margin-right: 2em;
}

.mb-3 {
  margin-bottom: 2em;
}

.ml-3 {
  margin-left: 2em;
}

.m-4 {
  margin: 2.5em;
}

.mx-4 {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.my-4 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.mt-4 {
  margin-top: 2.5em;
}

.mr-4 {
  margin-right: 2.5em;
}

.mb-4 {
  margin-bottom: 2.5em;
}

.ml-4 {
  margin-left: 2.5em;
}

.m-5 {
  margin: 3em;
}

.mx-5 {
  margin-left: 3em;
  margin-right: 3em;
}

.my-5 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.mt-5 {
  margin-top: 3em;
}

.mr-5 {
  margin-right: 3em;
}

.mb-5 {
  margin-bottom: 3em;
}

.ml-5 {
  margin-left: 3em;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: 3em;
}

.mr-auto {
  margin-right: auto;
}

.recherche {
  background-color: rgb(234, 234, 234);
}

.search {
  outline: none;
  border: 0px;
  background-color: rgb(234, 234, 234);
  padding: 1em;
}
.search:focus {
  outline: none;
}

.search::placeholder {
  color: black;
  font-size: 20px;
}

footer {
  background-color: rgb(53, 53, 53);
  display: flex;
  flex-direction: column;
}
footer > a {
  color: white;
}
footer > i {
  color: white;
}

.section-1 {
  background-color: #f6f6f6;
}

.section-3 {
  background-color: rgb(246, 246, 246);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  border-radius: 20px;
  position: relative;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card > img {
  border-radius: 20px 20px 0 0;
}

img {
  border-radius: 5px 5px 0 0;
}

.card-titre {
  font-size: 18px;
  font-weight: 900;
}

.new {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #99E2D0;
  color: #278870;
  padding: 0.5em;
  border-radius: 6px;
}
.new:hover {
  background-color: #71d7be;
  color: #1b6150;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.fa-arrow-left {
  position: absolute;
  top: 40%;
  left: 5%;
}

@media (min-width: 768px) {
  .fa-arrow-left {
    display: none;
  }
}
.entete-restau {
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: -10;
}
.entete-restau > img {
  height: 400px;
  object-fit: cover;
}

.page-restau {
  margin-top: 300px;
  border-radius: 40px 40px 0 0;
  background-color: rgb(246, 246, 246);
  z-index: 10;
}
.page-restau > div > h1 {
  font-size: 28px;
}
@media (min-width: 768px) {
  .page-restau > div > h1 {
    font-size: 32px;
  }
}

.upper {
  text-transform: uppercase;
}

.border-title-menu {
  position: relative;
  padding-bottom: 1em;
}
.border-title-menu::after {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 40px;
  height: 4px;
  left: 0;
  bottom: 0;
}

.fa-check-circle {
  color: #fff;
  font-size: 26px;
}

.menu-card {
  display: flex;
  flex: 1 3 540px;
  max-width: 540px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
}
.menu-card:hover > .checkbox {
  width: 6em;
}
.menu-card:hover > .checkbox .check {
  transform: rotate(0deg);
}

.texte {
  flex-grow: 1;
  background: #fff;
  overflow: hidden;
}
.texte p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prix {
  background-color: #fff;
}

.checkbox {
  display: flex;
  width: 0;
  background-color: #99E2D0;
  transition: all 400ms;
}
.checkbox .check {
  margin: auto;
  color: #fff;
  transition: transform 400ms;
  transform: rotate(-180deg);
}

.appear-1 {
  animation: card 300ms 300ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-2 {
  animation: card 300ms 600ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-3 {
  animation: card 300ms 900ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-4 {
  animation: card 300ms 1200ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-5 {
  animation: card 300ms 1500ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-6 {
  animation: card 300ms 1800ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-7 {
  animation: card 300ms 2100ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-8 {
  animation: card 300ms 2400ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-9 {
  animation: card 300ms 2700ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-10 {
  animation: card 300ms 3000ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-11 {
  animation: card 300ms 3300ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-12 {
  animation: card 300ms 3600ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-13 {
  animation: card 300ms 3900ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-14 {
  animation: card 300ms 4200ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-15 {
  animation: card 300ms 4500ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-16 {
  animation: card 300ms 4800ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-17 {
  animation: card 300ms 5100ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-18 {
  animation: card 300ms 5400ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-19 {
  animation: card 300ms 5700ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

.appear-20 {
  animation: card 300ms 6000ms cubic-bezier(0.27, 0.7, 0.14, 1.01) both;
}

@keyframes card {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
