// Gros bouton rose
.btn-rose
{
    background: linear-gradient(355deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    border-radius: 100px;
    padding: 1.5em;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .05rem;
    border: none;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transform: scale(1);

    box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 10px;
    &:after
    {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: linear-gradient(355deg, $colour-primary 0%, $colour-secondary 100%);
        border-radius: 10rem;
        z-index: -2;
    }

    &:before
    {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: linear-gradient(355deg, $colour-secondary 0%, $colour-primary 100%);
        transition: all .3s;
        border-radius: 100px;
        z-index: -1;
    }

    &:hover
    {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px;
        transform: scale(1.2);
        cursor: pointer;
        
        &:before 
        {
            width: 100%;
        }
    }
}

// Coeurs annimés au survol
.div-heart
{
    position: relative;
    min-width: 28px;
    background-color: transparent;
    border: 0;

    >.heart-empty
    {
        position: absolute;
        color: $colour-primary;
        font-size: 28px;

        opacity: 1;
        transition: all 400ms;
    }
    >.heart-solid
    {
        position: absolute;
        font-size: 28px;

        // je donne la couleur en dégradé au coeur
        background: linear-gradient(200deg, $colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        opacity: 0;
        transition: all 400ms;
    }
    // au clic en version mobile
    &:focus
    {
        >.heart-empty
        {
            opacity: 0;
            transition: all 400ms;
        }
        >.heart-solid
        {
            opacity: 1;
            transition: all 400ms;

            // j'appelle le keyframes durée souplesse d'annimation puis je la fixe uen fois finie
            animation: heart 500ms ease-in forwards;
        }
    }
    // au hover en version PC
    @media(min-width: 992px)
    {
        &:hover
        {
            cursor: pointer;

            >.heart-empty
            {
                opacity: 0;
                transition: all 400ms;
            }
            >.heart-solid
            {
                opacity: 1;
                transition: all 400ms;

                // j'appelle le keyframes durée souplesse d'annimation puis je la fixe uen fois finie
                animation: heart 500ms ease-in forwards;
            }
        }
    }
}
@keyframes heart
{
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(1.2);
    }
}