// font-family: 'Roboto', sans-serif;
// font-family: 'Shrikhand', cursive;
body
{
    font-family: 'Roboto', sans-serif;
}

.logo
{
    font-family: 'Shrikhand', sans-serif;
}
h1
{
    font-size: 24px;

    @media(min-width: 768px)
    {
        font-size: 30px;
    }
}
h2
{
    font-size: 16px;

    @media(min-width: 768px)
    {
        font-size: 20px;
    }
}
h3
{
    font-size: 24px;
}

.shrikhand
{
    font-family: 'Shrikhand', sans-serif;
    font-size: 22px;
}
.rob-weight-300 
{
    font-weight: 300;
}
.rob-weight-400 
{
    font-weight: 400;
}
.rob-weight-500 
{
    font-weight: 500;
}
.rob-weight-700 
{
    font-weight: 700;
}
.rob-weight-900 
{
    font-weight: 900;
}
.light
{
    font-weight: 300;
}
.bold
{
    font-weight: 900;
}

// Textes
.text-center
{
    text-align: center;
}
.text-center-lg
{
    text-align: center;
}
@media(min-width: 768px)
{

    .text-center-md
    {
        text-align: left;
    }
}
@media(min-width: 992px)
{

    .text-center-lg
    {
        text-align: left;
    }
}