$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-secondary-light: #f5edff;
$colour-tertiary: #99E2D0;

$colour-grey: rgb(53, 53, 53);
$colour-grey-light: rgb(126, 126, 126);

$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-246: rgb(246,246,246);
$colour-invalid: #DB464B;